# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# VSCode and PyCharm
.vscode/
.idea/

# Flask and general logs
*.log
*.sqlite3

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db